.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.popup__inner {
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    background-color: #fff;
    color: black;
}

.popup__inner > .close__btn {
    position: absolute;
    top: 34px;
    right: 16px;
}