@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* color */
.bg-primary {
  background: #0F172A;
}

.bg-secondary {
  background: #1E293B;
}

.bg-accent {
  background: #7477FF;
}

.text-accent {
  color: #7477FF;
}
/* .hero-image{
  width: 50%;
  height: 50%;
  border-radius: 5px;
} */

nav li a {
  @apply px-4 py-5 text-lg;
}



nav li a:hover {
  color: #7477FF;
  transition: 0.7s;
}

.mobile-nav {
  @apply block md:hidden fixed  top-12 w-full py-6 h-full bg-secondary duration-500
}

